.menu {
    border-radius: 15px;
    position: fixed;
    width: 18%;
    
    left: 0.5%;
    top: 30%;
    height: 30%;
    background-color: #141821;
    display:none;
}

.header {
    position: absolute;
    left:0;
    width: 100%;
    top: -7px; /*i know this bad*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    top: -15px;
    font-size: 2.4rem;
}

.head {
    position: absolute;
    border-radius: 15px;
    top:0;
    width: 100%;
    height: 10%;
}

.buttons {
    font-size:20px;
    font-family: Fredoka;
    text-shadow: 0 3px 0 #2d2349;
    color:white;
    position: absolute;
    top: 23%;
    width: 100%;
    height: 100%;
    background-color: #1E2431;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}



.button {
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 0 #2d2349;

    background-color: #234449;

    width: 100%;
    height: 50px;
    text-shadow: 0 2px 0 #234449;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    color: white;
}

.button:first-child {
    margin-top: 2;
    background-color: #faebd7;
}