.notify {
    position: absolute;
    bottom: 10px;
    right: 3%;
}

.notification {
    margin-bottom: 10px;
    background-color: rgb(30, 33, 32);
    border-radius: 15px;

    width: 16vw;
    height: 8vh;
}

.color {
    border-radius: 15px;

    width: 1.5vw;
    background-color:rgb(255, 15, 15);
    height: 100%;

    position: relative;
}

.holder {
    position: absolute;
    top:0;
    width: 90%;
    right:0;
    height: 100%;
}

.text {
    position: relative;
    color:white;
    font-family: Fredoka;
    font-size: 30px;
    text-align: center;
    text-align: center;
    word-break: break-all;
}